.popup__job {
  width: 83%;
  height: 27px;
  margin: 0 auto;
  border: 0;
  padding: 0;
  border-bottom: 1px solid #CCCCCC;
  line-height: 1.2;
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter", "Arial", sans-serif;
}
