.element__delete-button {
    background-image: url(../../../images/Trash.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    position: relative;
    top: 20px;
    left: 244px;
    width: 18px;
    height: 19px;
    margin: 0 0 -19px 0;
    padding: 0;
    border: 0;
}

@media screen and (max-width: 1210px) {
  .element__delete-button {
    left: 220px;
  }
}

@media screen and (max-width: 1145px) {
  .element__delete-button {
    left: 200px;
  }
}

@media screen and (max-width: 1110px) {
  .element__delete-button {
    left: 190px;
  }
}

@media screen and (max-width: 1070px) {
  .element__delete-button {
    left: 180px;
  }
}

@media screen and (max-width: 1024px) {
  .element__delete-button {
    left: 530px;
  }
}

