.popup__input {
  width: 83%;
  margin: 0 auto;
  padding: 0 0 13px 0;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  line-height: 1.2;
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter", "Arial", sans-serif;
}

.popup__input:first-of-type {
  margin: 54px auto 30px;
}

.popup__input:focus {
  outline-color: #74A0FF;
}

@media screen and (max-width: 320px) {
  .popup__input:first-of-type {
    margin-top: 75px;
  }
}

