.profile__title {
  line-height: 1.14;
  font-size: 42px;
  font-weight: 500;
  font-family: "Inter", "Arial", sans-serif;
  padding: 0 18px 0 0;
  margin: 0;
  width: 56%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .profile__title  {
    padding: 0 18px 16px 42px;
    width: 41%;
  }
}

@media screen and (max-width: 540px) {
  .profile__title {
    line-height: 1.18;
    font-size: 27px;
    padding: 0 10px 0 28px;
    width: 50%;
  }
}

@media screen and (max-width: 320px) {
  .profile__title {
    width: 58%;
  }
}
