.profile__add-button {
  background: transparent;
  background-image: url(../../../images/Add-Button.svg);
  background-repeat: no-repeat;
  width: 150px;
  min-height: 50px;
  margin: 35px 0 0;
  padding: 0;
  border: 0;
}

.profile__add-button:hover {
  opacity: 60%;
  cursor: pointer;
}


@media screen and (max-width: 1024px) {
  .profile__add-button  {
    width: 100%;
    background-image: url(../../../images/Plus.svg);
    background-position: center;
    border: 2px solid white;
    margin: 0 auto;
  }
}

@media screen and (max-width: 540px) {
  .profile__add-button  {
    width: 68.75%;
  }
}

@media screen and (max-width: 320px) {
  .profile__add-button  {
    width: 88.125%;
    padding-top: 10px;
  }
}
