.profile__content {
  display: flex;
  width: 68.75%;
  margin: 0;
  padding: 0;
  border: 0;
}

@media screen and (max-width: 1024px) {
  .profile__content {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
}

@media screen and (max-width: 540px) {
  .profile__content {
    width: 88.125%;
  }
}
