.element__favorite-button {
  background-image: url(../../../images/Favorite-Button.svg);
  background-repeat: no-repeat;
  background-color: white;
  width: 12%;
  max-height: 79px;
  background-position: right;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  border: 0;
}

.element__favorite-button:hover {
  opacity: 50%;
  cursor: pointer;
}

.element__favorite-button:active {
  background-image: url(../../../images/Favorite_Button_active.svg);
  opacity: 100%;
}
