.profile__addButton {
  background-image: url(../../../images/Add-Button.svg);
  background-color: black;
  background-repeat: no-repeat;
  width: 17%;
  min-height: 50px;
  margin: 35px 0 0;
  padding: 0;
  border: 0;
}
