.profile__info {
  display: flex;
  flex-wrap: wrap;
  width: 330px;
  margin: 0;
  padding: 22px 0 0 30px;
  border: 0;
  height: 61%;
}

@media screen and (max-width: 1024px) {
  .profile__info {
    padding: 26px 0 36px;
    width: 372px;
  }
}

@media screen and (max-width: 540px) {
  .profile__info {
    width: 100%;
    justify-content: center;
  }
}
