.profile__info {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin: 0;
  padding: 22px 0 0 30px;
  border: 0;
}

@media screen and (max-width: 1024px) {
  .profile__info {
    padding: 26px 0 32px;
    width: 100%;
    justify-content: center;
  }
}
