.popup-card__close-button {
  background-image: url(../../../images/Close.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  position: relative;
  top: -41px;
  right: -101%;
  width: 34px;
  height: 34px;
  margin: 0 0 -34px 0;
  padding: 0;
  border: 0;
}

@media screen and (max-width: 800px) {
  .popup-card__close-button {
    right: -100%;
  }
}

@media screen and (max-width: 640px) {
  .popup-card__close-button {
    margin-bottom: -20px;
    right: -96%;
    top: -32px;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-position: top;
  }
}

@media screen and (max-width: 420px) {
  .popup-card__close-button {
    right: -93%;
  }
}

.popup-card__close-button:hover {
  cursor: pointer;
  opacity: 80%;
}
