.profile__editButton {
  background-image: url(../../../images/Edit-Button.svg);
  background-color: black;
  background-repeat: no-repeat;
  width: 24px;
  margin: 15px 0 0;
  padding: 0;
  border: 0;
}

@media screen and (max-width: 540px) {
  .profile__editButton {
    width: 18px;
    height: 18px;
    background-size: cover;
    margin: 8px 0 0;
  }
}
