.profile__editButton {
  background-image: url(../../../images/Edit-Button.svg);
  background-color: black;
  background-repeat: no-repeat;
  width: 24px;
  margin: 15px 0 0;
  padding: 0;
  border: 0;
}
